# API Key to ChatGPT
GPT_API_KEY=""

# Url to a CSV file to fetch newsletter subscribers from
SUBSCRIBER_CSV_URL=""

# SMTP server address
MAIL_HOST=""

# Username for authenticating to the SMTP server
MAIL_USERNAME=""

# Password for authenticating to the SMTP server
MAIL_PASSWORD=""